.addtoCartContainer {
  display: flex;
  align-items: center;
  width: 435px;
  height: 67px;
  gap: 3rem;
  padding-right: 0.5rem;
}
.productInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}
