.productInfoContainer {
  display: flex;
  flex-direction: column;
  max-width: 432px;

  h5 {
    color: var(--Orange);
  }

  h6 {
    color: gray;
  }
  h1 {
    font-size: 30px;
    font-weight: 700;
  }
  h2 {
    font-size: 16px;
    font-weight: 400;
  }
}
.price {
  display: flex;
  align-items: center;
  gap: 1rem;
}
